
.highlight-me, .green{
    background-color: green;
    color: lightgray;
    display: inline;
}
.highlight-me, .blue{
    background-color: blue;
    color: lightgray;
    display: inline;
}
.highlight-me, .red{
    background-color: red;
    color: lightgray;
    display: inline;
}
.highlight-me, .purple{
    background-color: purple;
    color: lightgray;
    display: inline;
}
.highlight-me, .pink{
    background-color: pink;
    color: lightgray;
    display: inline;
}
.highlight-me, .yellow{
    background-color: yellow;
    color: lightgray;
    display: inline;
}
.highlight-me{
    background-color: yellow;
    color: lightgray;
    display: inline;
}