
span.chrome-regeggz-span.highlight-me.green{
    background-color: green;
    color: lightgray;
}
span.chrome-regeggz-span.highlight-me.blue{
    background-color: blue;
    color: lightgray;
}
span.chrome-regeggz-span.highlight-me.red{
    background-color: red;
    color: lightgray;
}
span.chrome-regeggz-span.highlight-me.purple{
    background-color: purple;
    color: lightgray;
}
span.chrome-regeggz-span.highlight-me.pink{
    background-color: pink;
    color: lightgray;
}
span.chrome-regeggz-span.highlight-me.yellow{
    background-color: yellow;
    color: black;
}
span.chrome-regeggz-span.highlight-me{
    background-color: yellow;
    color: black;
}