
/* .inputWrapper{
    margin: 15px;
}
.inputWrapper *{
    margin: 5px;
}
.buttonWrapper {
    display:flex;
    justify-content: center;
    align-items: center;
}
.buttonWrapper *{
    margin: 0;
    padding: 0 5px;
}
.chrome-regeggs-popup{
    position: absolute;
    top: 1vh;
    left: 50vw;
    z-index: 1000;
    background-color: teal;
    border-radius: 10px;
    padding: 25px;
    min-width: 400px;
    max-width: 400px;
    
}
.chrome-regeggs-popup:hover{
     cursor: pointer; 
}
.chrome-regeggs-popup:active{
    cursor: -webkit-grabbing; cursor: grabbing;
} */
regeggs-card *{
    font-family: 'Chango', cursive;
    /* display: none; */
}
regeggs-card input::placeholder{
    /* color: lightgoldenrodyellow; */
}