
.inputWrapper{
    margin: 15px;
}
.inputWrapper *{
    margin: 5px;
}
.buttonWrapper {
    display:flex;
    justify-content: center;
    align-items: center;
}
.buttonWrapper *{
    margin: 0;
    padding: 0 5px;
}
.chrome-regex-popup{
    position: absolute;
    top: 1vh;
    left: 50vw;
    z-index: 1000;
    background-color: white;
    border-radius: 10px;
    border: 5px solid grey;
    padding: 25px;
    min-width: 400px;
    max-width: 400px;
}
.chrome-regex-popup:hover{
    cursor: pointer;
}
.chrome-regex-popup:active{
    cursor: -webkit-grabbing; cursor: grabbing;
}