
regeggs-card *{
    font-family: 'Chango', cursive;
    color: black;
}
regeggs-card input, regeggs-card p, regeggs-card button, regeggs-card div{
    font-family: 'Chango', cursive;
    color: black;
}
regeggs-card.chrome-regeggs-popup div.pContent,
regeggs-card.chrome-regeggs-popup div.pContent div.controllWrapper,
regeggs-card.chrome-regeggs-popup div.pContent div.formWrapper div.icWrapper,
regeggs-card.chrome-regeggs-popup div.pContent div.formWrapper div.npWrapper{ 
    border: none;
}
regeggs-card.chrome-regeggs-popup div.pContent div.formWrapper{ 
    overflow: auto;
    max-height: 200px;
    margin: 0 10px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    padding: 5px;
    border-radius: 10px;
    border: none;
}
regeggs-card.chrome-regeggs-popup div.pContent div.formWrapper::-webkit-scrollbar {
    border-radius: 10px;
    background-color: gold;
    width: 10px;
    box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
regeggs-card.chrome-regeggs-popup div.pContent div.formWrapper::-webkit-scrollbar-thumb {
    background-color: #6f03fc;
    border-radius: 10px;
    border: 1px solid black;
}

regeggs-card.chrome-regeggs-popup div form.mainForm div.inputWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-size: initial;
    border: none;
}
regeggs-card.chrome-regeggs-popup div form.mainForm div.inputWrapper div.icWrapper span.matchCount {
    max-width: 20%;
    overflow: hidden;
}
regeggs-card.chrome-regeggs-popup div form.mainForm div.inputWrapper input.myInput{
    border-radius: 5px;
    background-color: white;
    box-sizing: border-box;
    width: 70%;
    border: 1px solid black;
    padding: 2px;
    margin: 2px;
}
regeggs-card.chrome-regeggs-popup div form.mainForm div.inputWrapper div.buttonWrapper{
    width: 100%;
    border: none;

}
regeggs-card.chrome-regeggs-popup div form.mainForm div.inputWrapper div.buttonWrapper div.cWrapper {
    float: right;
    display: flex;
    align-items: center;
    font-size: initial;
    border: none;

}

regeggs-card.chrome-regeggs-popup div form.mainForm div.inputWrapper div.icWrapper span.modifiersWrapper button:active{
    background-color: gray;

}
regeggs-card.chrome-regeggs-popup div form.mainForm div.inputWrapper div.icWrapper span.modifiersWrapper button{
    border-radius: 0px;
    background-color: lightgray;
    border: 1px solid black;
    padding: 0px;
    width: 20px;
    height: 20px;
}


regeggs-card.chrome-regeggs-popup div form.mainForm div.inputWrapper input.colorInput, 
regeggs-card.chrome-regeggs-popup div form.mainForm div.inputWrapper button{
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background-color: gold;
    border: 1px solid black;
}
regeggs-card.chrome-regeggs-popup div form.mainForm div.inputWrapper input.colorInput:hover, 
regeggs-card.chrome-regeggs-popup div form.mainForm div.inputWrapper button:hover{
    cursor: pointer;
    background-color: #ffde26;
}
regeggs-card.chrome-regeggs-popup div form.mainForm div.inputWrapper input.colorInput:active, 
regeggs-card.chrome-regeggs-popup div form.mainForm div.inputWrapper button:active{
    background-color: #dbba00;
}
