bsr-div {
  display: block;
}
bsr-span {
  display: inline;
}
bsr-break {
  display: block;
  height: 0.5px;
  margin: 0 5% 2% 5%;
  background-color: #6b7074;
}
.BSRScrollBar {
  max-height: inherit;
  overflow-y: scroll;
}
.BSRScrollBar::-webkit-scrollbar {
  width: 4px;
}
.BSRScrollBar::-webkit-scrollbar-track {
  background-color: #202124;
}
.BSRScrollBar::-webkit-scrollbar-thumb {
  background-color: #111113;
  border-radius: 4px;
}
#bsr-control-wrapper {
  display: inline-block;
  width: 100%;
}
#bsr-input-button {
  float: left;
}
#bsr-exit-button {
  float: right;
}
.BSRControlButton {
  padding: 5px;
  margin: 3px;
  display: inline-block;
}
.BSRButton {
  color: #6b7074;
  transition: color 500ms ease-out;
}
.BSRButton:hover {
  color: #acaeb1;
  cursor: pointer;
}
.BSRFloatingWrapper {
  position: relative;
}
.BSRFloatingWrapper:hover .BSRButton:active .BSRFloater {
  display: block;
}
.BSRFloater {
  display: none;
  position: absolute;
  bottom: 1.2em;
  width: 100px;
  left: -50px;
  background-color: #ffffff;
  color: #202124;
  border: 1px solid #111113;
  padding: 3px;
}
bsr-popup-card {
  display: block;
  position: absolute;
  max-height: 430px;
  background-color: #202124;
  color: black !important;
  border-radius: 5px;
  z-index: 99999;
  font-family: 'Almarai';
  font-size: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.BSRIcWrapper {
  height: auto;
  margin: 5%;
  /* display: flex; */
}
.BSRInputTopHalf {
  display: flex;
}
.BSRInputTopHalf > :first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.BSRInputTopHalf > :nth-child(2) {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
input.BSRMainInputField {
  background-color: #111113;
  color: #acaeb1;
  border: 1px solid #6b7074;
  height: 25px;
  width: 200px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.BSRModifierCoverButton {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 25px;
  height: 25px;
}
.BSRModifierWrapper {
  border-top: 1px solid #6b7074;
  border-right: 1px solid #6b7074;
  border-bottom: 1px solid #6b7074;
  height: 25px;
  min-width: 25px;
  box-sizing: border-box;
  position: relative;
}
.BSRModifierWrapper:hover .BSRModifierDropdown {
  display: block;
}
.BSRModifierDropdown {
  display: none;
  position: absolute;
  max-height: 200px;
  width: 160px;
  overflow: hidden;
  left: -45px;
  top: 23px;
  border: 1px solid #6b7074;
  border-radius: 10px;
  overflow-x: hidden;
  z-index: 1;
}
.BSRModifierButton {
  background-color: #202124;
  padding: 5px;
  position: relative;
}
.BSRModifierButton label:before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.BSRModifierButton label:hover {
  cursor: pointer;
}
.BSRModifierInput {
  float: right;
}
.BSRModifierButton:hover {
  background-color: #111113;
  padding: 5px;
}
.BSRMaxMatchLimitWrapper:hover {
  cursor: default;
}
.BSRMaxMatchLimit {
  width: 50px;
  height: 25px;
  background-color: #202124;
  color: #acaeb1;
  border: 1px solid #6b7074;
  border-radius: 3px;
  box-sizing: border-box;
}
.BSRColorPicker::-webkit-color-swatch-wrapper {
  padding: 0;
}
.BSRColorPicker::-webkit-color-swatch {
  border: none;
}
.BSRColorPicker {
  -webkit-appearance: none;
  border: none;
}
.BSRColorPickerWrapper:hover {
  cursor: default;
}
.BSRColorPicker:hover {
  cursor: pointer;
}
.BSRInputBottomHalf {
  display: flex;
}
.BSRActionButton {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
