
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
regeggs-card{
    width: 80px;
    height: 100px;
    background-color: teal;
    resize: both;
    overflow: auto;
    border-radius: 10px;
}