
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
regeggs-card{
    width: 30px;
    height: 200px;
    background-color: red;
    resize: both;
    overflow: auto;
    border-radius: 5px;
}