bsr-popup-card {
  display: block;
  position: absolute;
  max-height: 430px;
  background-color: #202124;
  color: #6b7074 !important;
  border-radius: 5px;
  z-index: 99999;
  font-family: 'Almarai';
  font-size: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}
