

/*
    I am overdoing the specificity to prevent
    against inherited styles from any given 
    page the user visits
    I am aiming for Selector specificity of (2,2,2)
    This means:
        2 elements 1 parent and 1 child
        2 id 1 for parent 1 for child
        2 class names 1 for parent 1 for child
*/

/* all children of the regeggs-card */
regeggs-div{
    display: block;
}
regeggs-button{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: gold;
    border: 1px solid black;
    text-align: center;
    display: inline-block;
}
regeggs-button:hover{
    cursor: pointer;
    background-color: #ffde26;
}
regeggs-button:active{
    background-color: #dbba00;
}
regeggs-card#chrepo-id.chrome-regeggs-popup *{
    font-family: 'Trebuchet MS', sans-serif;
    color: black;
}
/* the regeggs card oldest ancestor */
regeggs-card#chrepo-id.chrome-regeggs-popup{
    background-color: #6f03fc;
    display: block;
    visibility: hidden;
    position: absolute;
    z-index: 99999;
    border-radius: 10px;
    padding: 15px;
    min-width: 400px;
    max-height: 430px;
    justify-content: center;
}

/* the content area of the regeggs card */
regeggs-card#chrepo-id.chrome-regeggs-popup regeggs-div#chrepo-pCont-id.pContent{
    width: 100%;
    height: 100%;
    max-height: inherit;
    background-color: #ababab;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
}

/* the wrapper of the input adder and the exit buttons */
regeggs-div#chrepo-pCont-id.pContent regeggs-div#chrepo-conWrapper-id.controllWrapper{
    display: inline-block;
    width: 100%;
}

/* the input adder and the exit buttons */
regeggs-div#chrepo-conWrapper-id.controllWrapper regeggs-div.controllButton{
    border-radius: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 0px black;
    font-weight: 900;
    margin: 10px;
    user-select: none;
}
/* the exit button */
regeggs-div#chrepo-conWrapper-id.controllWrapper regeggs-div#chrepo-exitBtn-id.controllButton{
    float: right;
    background-color: red;
    font-size: initial;
}
/* the input adder button */
regeggs-div#chrepo-conWrapper-id.controllWrapper regeggs-div#chrepo-inputAdder-id.controllButton{
    font-size: 20px;
    float: left;
    background-color: #0a9c00;
}

/* the main form wrapper */
regeggs-div#chrepo-pCont-id.pContent regeggs-div#chrepo-formWrapper-id.formWrapper{
    overflow: auto;
    max-height: 200px;
    margin: 0 10px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    padding: 5px;
    border-radius: 10px;
}

/* the scrollbar of the form wrapper for when too many inputs get added */
regeggs-div#chrepo-pCont-id.pContent regeggs-div#chrepo-formWrapper-id.formWrapper::-webkit-scrollbar{
    border-radius: 10px;
    background-color: gold;
    width: 10px;
    box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
regeggs-div#chrepo-pCont-id.pContent regeggs-div#chrepo-formWrapper-id.formWrapper::-webkit-scrollbar-thumb{
    background-color: #6f03fc;
    border-radius: 10px;
    border: 1px solid black;
}

/* the main form */
/* regeggs-div#chrepo-formWrapper-id.formWrapper regeggs-form#chrepo-form-id.mainForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

/* the wrapper for the input bar, the modifier buttons (/i /r) and the count */
form#chrepo-form-id.mainForm regeggs-div#chrepo-inputWrapper-id.inputWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-size: initial;
}

/*styles for the input bar*/
regeggs-div#chrepo-icWrapper-id.icWrapper input#chrepo-myInput-id.myInput{
    border-radius: 5px;
    background-color: white;
    box-sizing: border-box;
    width: 60%;
    border: 1px solid black;
    padding: 2px;
    margin: 2px;
}
regeggs-div#chrepo-icWrapper-id.icWrapper regeggs-span#chrepo-modifiersWrapper-id.modifiersWrapper{
    width: 30%;
}

/* wrapper for next/prev/minus/copy inputs and regeggs-buttons*/
regeggs-div#chrepo-inputWrapper-id.inputWrapper regeggs-div#chrepo-buttonWrapper-id.buttonWrapper{
    width: 100%;
}

/* wrapper for color facts and input*/
regeggs-div#chrepo-buttonWrapper-id.buttonWrapper regeggs-div#chrepo-cWrapper-id.cWrapper{
    float: right;
    display: flex;
    align-items: center;
    font-size: initial;
}